{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ entry }}
{% endblock %}

{% block body %}
    <h1>Edit {{ entry }}</h1>
    <form action="{% url 'encyclopedia:edit_entry' entry %}" method="POST">
        {% csrf_token %}
        <!-- <input type="text" name="title" placeholder="Enter a title" autofocus>
        <br/> -->
        <textarea name="content" value="hello">{{ entrytxt }}</textarea>
        <br/>
        <input type="submit" value="Save page">
    </form>

{% endblock %}