{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>{{ listing.title }}</h2>
    <div class="card">
        <div class="row">
            <div class="col-sm">
                <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" style="max-height: 300px; max-width: 500px; object-fit: cover">
            </div>
            <div class="col-sm item-column">
                <div>{{ listing.description }}</div>
                <div>
                    {% if highest_bid %}
                        <div>Highest Bid: {{ highest_bid.amount }} USD</div>
                    {% else %}
                        <div>Price: {{ listing.price }} USD</div>
                    {% endif %}
                    {% if listing.owner == request.user %}
                        {% if listing.isActive %}
                            <div>You posted this item</div>
                            <form method="POST" action="{% url 'close_auction' listing.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">Close auction</button>
                            </form>
                        {% else %}
                            <div>Winner: {{ highest_bid.user }}</div>
                        {% endif %}
                    {% else %}
                        {% if listing.isActive %}
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'bid_on_item' listing.id %}">
                                    {% csrf_token %}
                                    {{ bid_form }} USD
                                    <button type="submit" class="btn btn-outline-dark btn-sm">Bid</button>
                                </form>
                            {% else %}
                                <p>Please <a href="{% url 'login' %}">log in</a> to bid on this item.</p>
                            {% endif %}
                        {% else %}
                            {% if request.user == highest_bid.user %}
                                <div>You won this auction!</div>
                            {% else %}
                                <div>This auction is closed</div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    {% if watchlist %}
                        <div>
                            <a href="{% url 'remove_from_watchlist' listing.id %}">Remove from watchlist</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% url 'add_to_watchlist' listing.id %}">Add to watchlist</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h4>Comments</h4>
            {% if comments %}
                <ul class="list-unstyled">
                    {% for comment in comments %}
                        <li>
                            <strong>{{ comment.user.username }}</strong>
                            <small>{{ comment.timestamp|date:"F j, Y, g:i a" }}</small>
                            <p>{{ comment.content }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
        </div>
        <div class="col-sm">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_comment' listing.id %}">
                    {% csrf_token %}
                        <div class="vertical_form">
                            {{ comment_form }}
                        </div>
                    <button type="submit" class="btn btn-success btn-sm">Comment</button>
                </form>
            {% else %}
                <p>Please <a href="{% url 'login' %}">log in</a> to add a comment.</p>
            {% endif %}
        </div>
    </div>
    
</div>

{% endblock %}