{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="row mx-3">
      {% for item in items %}
          <div class="card mx-3" style="width: 18rem;">
            <div style="height: 200px; overflow: hidden;">
              <img class="card-img-top" src="{{ item.imageUrl }}" alt="Card image cap" style="height: 100%; object-fit: cover;">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <small class="text-muted">{{ item.category }}</small>
              <p class="card-text">{{ item.description }}</p>
            </div>
            <div class="card-footer">
              <p class="card-text">USD {{ item.price }}</p>
            </div>
            <a href="{% url 'listing' item.id %}" class="stretched-link"> </a>
          </div>
      {% endfor %}
    </div>
{% endblock %}