body {
    padding: 10px;
}

.card {
    margin-bottom: 20px;
}

.horiz-align {
    display: flex;
    justify-content: space-between;
}

.item-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical_form {
    display: flex;
    flex-direction: column;
}